<% layout('layouts/boilerplate') %>

        <div class="row">
            <div class="col-md-12">
                <div class="card-shadow">
                    <div class="form-group clearfix">
                        <a href="/product/new" class="btn btn-primary float-right">Add <%= title %></a>
                    </div>
                    <div class="containter card-body">
                        <h5 class="card-title">List <%= title %></h5>
                        <div class="table-repsonsive">
                            <table id="table" class="display table">
                                <thead class="thead-light">
                                    <tr class="text-center">
                                        <th style="width: 5%;">No</th>
                                        <th style="width: 20%;">Name</th>
                                        <th style="width: 15%;">Price</th>
                                        <th style="width: 15%;">Total Ingridient</th>
                                        <th style="width: 15%;">Total Cost</th>
                                        <th style="width: 15%;">Total Profit</th>
                                        <th style="width: 10%;">Adjustment</th>
                                        <th style="width: 10%;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
            </div>
        </div>

    <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.js"></script>
    <script src="/js/product/index.js"></script>